
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans';
}

a {
	text-decoration: none;
}

div#header {
	width: 100%;
	height: 55px;
	background-color: #2c3e50; 
	margin: 0 auto;
}

.logo{
	float: left;
	margin-top: 10px; 
	margin-left: 10px;
}

.logo a {
	font-size: 1.6em;
	color: #fff;
}

.logo a span {
	font-weight: 300;
}

div#container {
	width: 100%;
	margin: 0 auto;
}


.sidebar {
	width: 180px;
	background:#171717;
	float: left;
}

ul#nav li {
	list-style: none;
}
ul#nav li a {
  color: #ccc;
  display: block;
  padding: 10px;
  font-size: 0.8em;
  border-bottom: 1px solid #444;
-webkit-transition: all 0.2s ease;
-moz-transition: all 0.2s ease;
-ms-transition: all 0.2s ease;
-o-transition: all 0.2s ease;
transition: all 0.2s ease;
}

ul#nav li a:hover {
 background: #030303;
 color: #fff;
}

ul#nav li a.selected{
	background: #030303;
	color:#fff;
}


.content {
	width: auto;
	height: 100%;
	background: white;
	margin-left: 180px;
	padding: 5px;
}

h1{
	border-bottom: 1px solid #eee;
	margin-bottom: 20px;
	padding-bottom: 9px;
}

.content p {
	color: #424242;
	fonnt-size: 0.8em;
}

div#box {
    display: block;
	margin-top: 15px;
}

div#box .box-top {
	color: #fff;
	text-shadow: 0 1px #000;
	background: #2980b9;
	padding: 5px;
	padding-left: 15px;
	font-weight: 300;
} 

div#box .box-panel {
	
	background: #fff;
	color: #333;
	display: flex;
}

div#result-table_wrapper{
    border-collapse: collapse;
    width: 100%;
}

div#result-table_length{
	float: left;
	color: #333;
}

div#result-table_filter{
	float: right;
    text-align: right;
} 

input[search]{
	margin-left: 0.5em
}
.dataTables_wrapper .dataTables_info{
	clear: both;
    float: left;
	padding-top: 0.755em;
}

.dataTables_wrapper .dataTables_paginate{
	float: right;
    text-align: right;
    padding-top: 0.25em;
}



/* table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover{
	background-color:#f5f5f5
}
 */

td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

div #footer-row1{
    margin-top: 80px;
    padding: 1.2em 0;
    background: #000;
    bottom: 0;
    margin-right: -33px;
    font-family: "Fjalla One", Verdana, Geneva, sans-serif;
    font-size: 0.95em;
    text-transform: uppercase;    
}

.final-footer{
    text-align: center;
    color: #FFF;
}

@media only screen and (max-width: 480px) {

a.mobile {
	display: block;
	color: #fff;
	background: #000;
	text-align: center;
	padding: 7px; 
	cursor: pointer;
}

a.mobile:active{
	background: #474747;
}


.sidebar {
	width: 100%;
	display: none;
	height: auto;
}

.content {
   margin-left: 0;
}

}



@media only screen and (min-width: 480px) {

.sidebar {
	min-height: 900px;
	display: block;
}

a.mobile {
	display: none;
}

}

@media screen and (orientation: landscape){
.ui-mobile .ui-page {
    min-height: 100px;
}
}